{% assign resultColor = "shouldnthappen" %}
{% if motie.BesluitSoort contains "aangenomen" %}
{% assign resultColor = "success" %}
{% endif %}
{% if motie.BesluitSoort contains "verworpen" %}
{% assign resultColor = "danger" %}
{% endif %}

<div id="{{ motie.Zaak[0].Id }}" class="card my-1 motie-card border-{{ resultColor }}">
  <div class="card-header motie-onderwerp text-bg-{{ resultColor }}">
      {{ motie.Zaak[0].Onderwerp }}
  </div>
  <div class="card-body">
    <h7 class="card-subtitle mb-2 text-body-secondary motie-titel">
      {{ motie.Zaak[0].Titel }}
    </h7><br/>
    <h7 class="card-subtitle mb-2 text-body-secondary motie-indieners">
      Indieners: 
      {% for indiener in motie.Zaak[0].ZaakActor %}
        {% if forloop.length > 0 %}
          {{ indiener.ActorNaam }} ({{ indiener.ActorFractie }}){% unless forloop.last %}, {% endunless %}
        {% endif %}
      {% endfor %}
    </h7><br/>
    <h7 class="card-subtitle mb-2 text-body-secondary motie-indieners">
      Kabinetsappreciatie: {{ motie.Zaak[0].Kabinetsappreciatie }}
    </h7>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item d-flex">
      <div class="flex-grow-1">
        <div class="progress-stacked d-fill">
          <div class="progress motie-voor" role="progressbar" aria-label="SegmentVoor" style="width: {{ motie.Stats.Voor }}%">
            <div class="progress-bar progress-bar-striped bg-success">
              {{ motie.Stats.Voor }}
            </div>
          </div>
          <div class="progress motie-tegen" role="progressbar" aria-label="SegmentTegen" style="width: {{ motie.Stats.Tegen }}%">
            <div class="progress-bar progress-bar-striped bg-danger">
              {{ motie.Stats.Tegen }}
            </div>
          </div>
        </div>
      </div>
      <div class="ps-2 motie-resultaat">
        {{ motie.BesluitSoort | replace: "Stemmen - ", "" | capitalize }}
        {% case resultColor %}
        {% when "success" %}
        {% include symbol-voor.html %}
        {% when "danger" %}
        {% include symbol-tegen.html %}
        {% endcase %}
      </div>
    </li>
    <li class="list-group-item">
      <div class="container text-left">
        <div class="row row-cols-2 row-cols-md-5 motie-stemming">
          {% assign fractiesSorted = motie.Stemming | sort: "ActorNaam" %}
          {% for fractie in fractiesSorted %}
            <div class="col text-truncate">
            {% case fractie['Soort'] %}
            {% when "Voor" %}
              {% include symbol-voor.html %}
            {% when "Tegen" %}
              {% include symbol-tegen.html %}
            {% else %}
              {% include symbol-anders.html %}
            {% endcase %}
            {{ fractie['ActorNaam'] }}
            </div>
          {% endfor %}
        </div>
      </div>
    </li>
  </ul>
</div>
