<span class="vote-icon vote-voor" style="display: inline-flex; flex: 0 0 auto; width: 1.1em; height: 1.1em; border-radius: 50%; align-items: center; justify-content: center; background-color: rgb(36, 143, 0);">
    <svg class="vote-checkbox" viewBox="12 12 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" style="display: inline-block; width: 0.8em; height: 0.8em; color: rgb(255, 255, 255); fill: currentColor;">
        <path d="M22 33l14-14-2.82-2.82L22 27.34l-6.18-6.16L13 24z"></path>
    </svg>
</span>