.date-separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.date-separator::before,
.date-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #cccccc;
}

.date-separator:not(:empty)::before {
    margin-right: .25em;
}

.date-separator:not(:empty)::after {
    margin-left: .25em;
}